/*  ------------------------- 
        Modified: Fernando Hernandez;
        Original Author: Vandré Leal Cândido
        Description: UI/UX Designer & Developer
        Year: 2014

------------------------- */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background: url('../img/pattern_black_linen.png') repeat;
    font-family: 'Montserrat', 'Helvetica', 'Times New Roman', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #4F535F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, ul {margin: 0;}

a {color: #62C370;}
a:hover, a:focus, a:visited {color: #62A370;}

a, ul, ol, button, .item {
    text-decoration: none;
    -webkit-transition: background-color .2s linear, color .2s linear, border .2s linear;
    transition: background-color .2s linear, color .2s linear, border .2s linear;
}

::selection{background:rgba(0,0,0,0.1);}
::-moz-selection{background:rgba(0,0,0,0.1);}
img::-moz-selection{background:transparent;}
img::selection{background:transparent;}
img::-moz-selection{background:transparent;}

.border {
    display: block;
    width: 100px;
    height: 2px;
    margin: 20px auto;
}

.green {color: #62C370;}
.red {color: #D9534F;}
.light-font {color: #FFF; }
.dark-font {color: #282828;}
.light-border {background: none repeat scroll 0 0 #999;}
.dark-border {background: none repeat scroll 0 0 #777;}

@media (max-width: 767px) {
    .dark-font, .light-font {font-size: 2em;}
}

.nopadding {padding: 0px;}
.nomargin {margin: 0px;}


/* SIDEBAR */

#intro {
    top: 0;
    position: fixed;
    overflow-y: auto;
    height: 100%;
    padding: 0 25px;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#profile {
    margin: 0 -25px;
    padding: 0 15px 0 15px;
    text-align: center;
}

#profile img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 10px double rgba(238,238,238,0.2);
}

.social_media {padding: 8% 0 16% 0;}
.social_media a {color: #D2D2D2;}
.social_media a:hover, #intro .social_media a:focus {color: #87DEAE;}
.social_media i {margin: 0 8px; font-size: 1.5em;}

#intro h1 {
    margin: 8% 0 0 0;
    font-size: 1.75em;
}

#intro h2 {
    margin: 4% 0 0 0;
    font-weight: 300;
    font-size: 1.1em;
    color: #CCC;
}

@media (max-width:991px) {
    #intro {
        position: static;
        width: 100%;
        height: auto;
        background: -webkit-linear-gradient(rgba(20, 20, 20, 0.75), rgba(40, 40, 40, 0.9)), url('../img/back_profile-box.jpg') no-repeat top scroll;
        background: -webkit-linear-gradient(rgba(20, 20, 20, 0.75), rgba(20, 20, 20, 0.9)), url('../img/back_profile-box.jpg') no-repeat top scroll;
        background: linear-gradient(
            rgba(20, 20, 20, 0.75), 
            rgba(20, 20, 20, 0.9)
            ), url('../img/back_profile-box.jpg') no-repeat top scroll;
        background-size: cover;
    }
    #profile {
        padding: 110px 15px 40px 15px;
        font-size: 1.25em;
    }
    #profile img {
        width: 165px;
        height: 165px;
    }
    #profile #sidebar {
        font-size: 0.8em;
    }

    .social_media {padding: 25px 0 45px 0;}

    #intro h1 {
        margin: 25px 0 0 0;
    }

    #intro h2 {
        margin: 10px 0 0 0;
    }
}

@media (max-width:767px) {
    #intro {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #profile {
        padding-top: 75px;
        font-size: 1em;
    }
    #profile img {
        width: 150px;
        height: 150px;
    }
    #profile #sidebar {
        font-size: 1em;
    }
}


/* NAVIGATION MENU */

#sidebar {
    margin: 0 -15px 0;
    z-index: 999;
    transform: translate3d(0px,0px,0px);
    -webkit-transform: translate3d(0px,0px,0px);
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    text-align: left;
}

.sidebar-nav {
    width: 100%;
    list-style: none;
}

.sidebar-nav li {
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.15);
    line-height: 50px;
}

.sidebar-nav li a {
    display: block;
    padding: 0 50px;
    text-transform: uppercase;
    text-decoration: none;
    color: #D2D2D2;
}

.sidebar-nav li a .icon {
    margin-right: 8px;
    font-size: 1.2em;
}

.sidebar-nav li a .option {
    font-size: 1.1em;
    vertical-align: middle;
}

.sidebar-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFF;
}

.sidebar-nav li a:active {
    background-color: #62C370;
    color: #FFF;
}

.sidebar-nav li a.active {
    background-color: rgba(0, 0, 0, 0.3);
    border-left: 4px solid #62C370;
    color: #FFF;
}


@media(max-width:991px) {
    #sidebar {
        top: 0;
        position: fixed;
        width: 100%;
        background: #111;
        border-bottom: none;
        text-align: center;
    }

    .sidebar-nav li {
        display: inline-block;
        width: 25%;
        border-top: none;
        line-height: 50px;
    }

    .sidebar-nav li:first-child {
        border-left: none;
    }

    .sidebar-nav li a {
        padding: 0 15px;
    }   

    .sidebar-nav li a:hover,
    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        background-color: transparent;
    }

    .sidebar-nav li a.active {
        background-color: #62C370;
        border-left: none;
    }

    ul.flexbox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}

@media(max-width:767px) {
    .sidebar-nav li a .icon {
        margin-right: 0px;
    }
}


/* CONTENT */

#content {
    height: 100%;
    background-color: #FCFCFC;
    z-index: 5;
}

#about, #Nanodegree, #DataSciSpec, #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.section-title {
    width: 100%;
    padding: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
}

.section-container {
    width: 95%;
    margin: 0 auto;
    padding: 25px 0;
}

@media(max-width:991px) {
    #about, #Nanodegree, #DataSciSpec, #contact {
        position: relative;
        min-height: 0;
        height: auto;
    }
    .section-title{
        padding: 50px 15px 15px 15px;
    }
    .section-container{
        width: 95%;
        padding: 50px 0;
    }
}

@media(max-width:767px) {
    .section-container{
        padding: 30px 0;
    }
}

/* ABOUT */

#about {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85)), url('../img/fuji.jpg') no-repeat center center scroll;
    background: linear-gradient(
        rgba(255, 255, 255, 0.75), 
        rgba(255, 255, 255, 0.75)
        ), url('../img/fuji.jpg') no-repeat center center scroll;
    background-size: cover;
    color: #555;
}

#about .section-container {
    margin-top: 15px;
    width: 85%;
}

#about h2 {
    font-size: 5em;
    color: #FF9B00;
    visibility: hidden;
}

#about p {
    padding: 50px 0 0 0;
    font-size: 1.45em;
    line-height: 2em;
    color: #666;
    visibility: hidden;
}

@media (max-width: 1199px) {
    #about h2 {
        padding-top: 0px;
    }
}

@media(max-width:991px) {
    #about .section-container{
        margin-top: 20px;
        width: 90%;
    }
}

@media (max-width: 767px) {
    #about .section-container{
        margin-top: 50px;
        width: 95%;
    }
    #about h2 {
        font-size: 4em;
    }
    #about h3 {
        font-size: 2.5em;
    }
    #about p {
        padding: 30px 0 0 0;
        font-size: 1.05em;
    }
}

#about .high-green {
    margin: 0 2px;
    padding: 4px 6px;
    background: #62C370;
    color: #FFF;
    border-radius: 1px;
}

#about .high-orange {
    margin: 0 2px;
    padding: 4px 6px;
    background: #FF9B00;
    color: #000;
    border-radius: 1px;
}


/* NANODEGREE */

#Nanodegree {
    background-color: #FFF;
    border-top: 1px solid #DDD;
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
}

#Nanodegree .item {
    padding: 35px 30px;
    text-align: center;
}

#Nanodegree .item h4 {
    font-weight: 300;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #444;
}

#Nanodegree .item p {
    margin-top: 20px;
    color: #666;
}

#Nanodegree .item i {
    margin-bottom: 25px;
    color: #62C370;
}

/* DATA SCIENCE SPEC */

#DataSciSpec {
    background-color: #FFF;
    border-top: 1px solid #DDD;
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
}

#DataSciSpec .item {
    padding: 35px 30px;
    text-align: center;
}

#DataSciSpec .item h4 {
    font-weight: 300;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #444;
}

#DataSciSpec .item p {
    margin-top: 20px;
    color: #666;
}

#DataSciSpec .item i {
    margin-bottom: 25px;
    color: #62C370;
}

/* PORTFOLIO */

#portfolio {
    background-color: #F6F6F6;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
}

#portfolio .section-container {
    width: 90%;
}

#portfolio figure {
    margin: 15px 15px 35px 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#portfolio figcaption {
    padding: 30px 30px 0 30px;
    background-color: #FFF;
    line-height: 1.75em;
    text-align: left;
}

#portfolio figcaption .caption-footer {
    margin: 0 -30px 0 -30px;
    padding: 15px 30px;
    background-color: #333;
    line-height: 1.85em;
    font-size: 0.8em;
    word-spacing: 0.25em;
    text-transform: uppercase;
    color: #F6F6F6;
}

#portfolio figcaption .caption-footer i {margin-right: 6px;}

#portfolio figcaption h4, h6 {
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

#portfolio figcaption h4 {color: #333;}

#portfolio figcaption h6 {
    padding: 8px 0 25px 0;
    color: #888;
}

#portfolio figcaption p {padding-bottom: 25px;}

#portfolio figcaption i {
    color: #56A370;
    margin-right: 3px;
}

@media(max-width:991px) {
    #portfolio figure {
        margin: 5px 0px 50px 0px;
    }
    #portfolio .section-container {
        width: 95%;
    }
    #portfolio figcaption {
        padding: 20px 30px;
    }
    #portfolio figcaption h6 {
        padding: 8px 0 15px 0;
    }
    #portfolio figcaption p {padding-bottom: 0px;}
}

@media(max-width:767px) {
    #portfolio figcaption {
        padding: 20px 30px;
    }
    #portfolio figcaption h6 {
        padding: 8px 0 0 0;
    }
}

#portfolio .effects .img {
    position: relative;
    float: left;
    overflow: hidden;
    max-width: 100%;
}

#portfolio .effects .img img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

#portfolio .overlay {
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#portfolio .overlay a:hover {
    background: #62C370;
    text-decoration: none;
}

#portfolio a.close-overlay {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 45px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 45px;
    text-align: center;
    background-color: #000;
    cursor: pointer;
}

#portfolio a.close-overlay.hidden {display: none;}

#portfolio a.expand {
    display: block;
    position: absolute;
    z-index: 10;
    width: 60px;
    height: 60px;
    border: solid 5px #FFF;
    text-align: center;
    color: #FFF;
    line-height: 50px;
    font-weight: 700;
    font-size: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
}

#portfolio .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

#portfolio .overlay a.expand {
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#portfolio .img.hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

#portfolio .img.hover .overlay a.expand {
    top: 50%;
    margin-top: -30px;
    opacity: 1;
    filter: alpha(opacity=100);
}

#portfolio .img.hover .overlay a.expand i {font-size: 0.9em;}


/* CONTACT */

#contact {
    min-height: 101%;
    background: #FFF;
    border-bottom: 1px solid #DDD;
    box-shadow: 0 0 2px rgba(0,0,0,0.05);
    text-align: center;
}

#contact .form-container {
    padding: 0 25px 5px 25px;
}

@media(max-width:991px) {
    #contact .form-container {
        margin-bottom: 35px;
    }
}

@media(max-width:767px) {
    #contact {
        background: #FCFCFC;
    }
    #contact .form-container {
        padding: 0 15px;
    }
}

input[type=text], input[type=email], textarea.form-control {
    margin: 42px 0;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #777;
    box-shadow: none;
    border-radius: 0;
    font-size: 1.15em;
}

input[type=text], input[type=email] {height: 45px;}
input[type=text]:focus, input[type=email]:focus, textarea.form-control:focus {
    border-color: #62C370;
    box-shadow: none;
}

textarea.form-control {
    padding: 10px;
    resize: none;
}

#contact .btn-custom {
    margin: 25px 0;
    padding: 15px 40px;
    background-color: transparent;
    border: 3px solid #62C370;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #62A370;
}

#contact .btn-custom:hover,
#contact .btn-custom:focus,
#contact .btn-custom.focus,
#contact .btn-custom:active,
#contact .btn-custom.active{
    background-color: #62C370;
    color: #FFF;
}

#contact .btn-custom i {margin-right: 8px;}


/* FOOTER */

#footer {
    width: 100%;
    background-color: #62C370;
    text-align: center;
    text-transform: uppercase;
}

#footer h4 {
    padding: 25px 15px;
}

#footer a {
    color: #FCFCFC;
}

#footer i {
    margin-right: 8px;
}

/* Blink Animation */

.blink {
    -webkit-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; filter: alpha(opacity=100); }
    50% { opacity: 1; filter: alpha(opacity=100); }
    50.01% { opacity: 0; filter: alpha(opacity=0); }
    100% { opacity: 0; filter: alpha(opacity=0); }
}

@-ms-keyframes blink {
    0% { opacity: 1; filter: alpha(opacity=100); }
    50% { opacity: 1; filter: alpha(opacity=100); }
    50.01% { opacity: 0; filter: alpha(opacity=0); }
    100% { opacity: 0; filter: alpha(opacity=0); }
}

@keyframes blink {
    0% { opacity: 1; filter: alpha(opacity=100); }
    50% { opacity: 1; filter: alpha(opacity=100); }
    50.01% { opacity: 0; filter: alpha(opacity=0); }
    100% { opacity: 0; filter: alpha(opacity=0); }
}


/* LARGE DEVICES */

@media (min-width: 1600px) {
    .section-container{
        width: 80% !important;
    }
}